@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Head Hunter Management<br />
    10 rue de la masse 13100 Aix en Pce<br />
    <abbr title="Phone">P:</abbr>
    +33671427188
</address>

<address>
    <strong>Support:</strong>   <a href="lucas.girard05@orange.fr"></a><br />
    
</address>